@import '../../theme.scss';

div.rs-slide {
  // display: grid;
  // grid-template-columns: 20em auto;
  // grid-template-rows: 1fr auto auto;
  display: flex;
  flex-flow: column;
  float: left;
  justify-content: space-evenly;
  position: relative;

  background-color: $secondary-bg-color;
  color: $secondary-color;
  height: 100%;
  width: 100%;

  div.rs-slide-data-table {
    display: grid;
    grid-template-columns: 10em auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    padding: 0 2em;

    word-wrap: break-word;
    text-align: left;
  }

  div.rs-slide-data-chart {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
  }

  div.rs-slide-favourites {
    width: 100%;

    button.rs-slide-favourites-add {
      width: 12em;
      height: 2em;
      
      background: none;
      border: none;
      outline: none;
      
      text-align: left;
      color: $third-color;
      line-height: 2vh;
      font-size: 24px;
      
      cursor: pointer;
      
      &.rs-slide-favourites-added {
        color: #6d6e91;
      }
      
      & > * {
        vertical-align: middle;
      }
    }
  }
}